body {
    text-align: center;
    background-color: gainsboro;
}

.source-url {
    font-size: 18px;
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    color: #ff3399;
    border: double 4px #ff3399;
    background-color: #ffffff;
    cursor: pointer;
    font-family: Hannotate SC;
}

.source-url:hover {
    opacity: 0.5;
}

.title {
    font-size: 50px;
}